html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
ul {
  padding-left: 0;
  list-style-type: none;
}
:root {
  --color-fon: #ffffff;
  --color-text: #434455;
  --color-logo: #4d5ae5;
  --color-nav: #2e2f42;
  --color-focus: #404bbf;
  --color-footer: #f4f4fd;
  --color-footer-text: #e7e9fc;
  --color-icone: #afb1b8;
  --color-hover: #31d0aa;
  --color-modal: #fcfcfc;
  --color-modal-text: #8e8f99;
}

body {
  font-family: "roboto", sans-serif;
  color: var(--color-text);
  background-color: var(--color-fon);
}
h1,
h2,
h3,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  width: 1158px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
/* Шапка */

.logo {
  padding: 24px 0;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  color: var(--color-nav);
}

.logo-text {
  color: var(--color-logo);
}
/* Навігація */
.menu-nav {
  margin: 0;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;
}

.nav {
  position: relative;
  color: var(--color-nav);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-focus);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  content: "";
}

.portfolio::after {
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--color-focus);
  border-radius: 2px;
  left: 0;
  bottom: 0;
  content: "";
}

.nav:hover,
.nav:focus {
  color: var(--color-focus);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Зв'язок */
.email {
  text-decoration-line: none;
  font-family: "Roboto";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
.email:hover,
.email:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-focus);
}

.tell {
  text-decoration-line: none;
  font-family: "Roboto";
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
.tell:hover,
.tell:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--color-focus);
}
.flex {
  display: flex;
  align-items: center;
}
.flex-nav {
  display: flex;
  align-items: center;
}
.flexs-address {
  display: flex;
  align-items: center;

  gap: 40px;
}
.address {
  font-style: normal;
  margin-left: auto;
}
.cap {
  border-bottom: 1px solid var(--color-footer-text);
}
/* Заголовок */
.title {
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;

  max-width: 1440px;

  /* NAVY BLUE */

  background-color: var(--color-nav);
}
.title-img {
  max-width: 1440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office-1-1.jpg");
}
.title-text {
  margin: 0 auto;
  margin-bottom: 48px;

  width: 494px;

  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--color-fon);
}
.title-button {
  margin: 0 auto;
  display: block;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: inherit;
  background-color: var(--color-logo);
  color: var(--color-fon);
  width: 169px;
  height: 56px;
  font-size: 16px;
  line-height: 1.5;
  left: 636px;
  top: 356px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.title-button:hover,
.title-button:focus {
  background-color: var(--color-focus);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* Категорії */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container-text {
  display: flex;

  gap: 24px;
}
.section-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-nav);
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-text);
}
.list-item {
  margin-bottom: 8px;
  height: 112px;
  width: 264px;
  background-size: contain;
  background-color: var(--color-footer);
  display: flex;
  justify-content: center;
  align-items: center;
}
.icone {
  width: 64px;
  height: 64px;
}

/* Наші роботи */
.photo {
  padding-top: 0;
}
.container-photo {
  width: 1128px;
  height: 412px;
  left: 156px;
  top: 1016px;
}
.container-work {
  padding: 120px, 156px;

  display: flex;

  gap: 24px;
}
.title-photo {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  color: var(--color-nav);
}
/* Наша команда */
.team {
  background-color: var(--color-footer);
}
.title-section {
  margin-bottom: 72px;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 36px;
  line-height: 0.9;
  color: var(--color-nav);
}
.text-name {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.container-list {
  display: flex;
  gap: 24px;
}
.text-position {
  background-color: var(--color-fon);
  padding: 0px;
  gap: 8px;
  border-radius: 4px;
}
footer {
  left: 0px;
  top: 2280px;

  /* NAVY BLUE */

  background: var(--color-nav);
}
.socials-item {
  width: 40px;
  height: 40px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--color-focus);
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-link {
  display: flex;
  background-color: var(--color-logo);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 16px;
  height: 16px;
  fill: var(--color-footer);
}
/* Посилання  */

.customers-list {
  width: 168px;
  height: 88px;
}

.icone-customers {
  display: flex;
  gap: 24px;
}
.customers {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  justify-content: center;
  fill: var(--color-icone);
  width: 100%;
  height: 100%;
  max-width: 168px;
  display: flex;
  align-items: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers:hover,
.customers:focus {
  width: 168px;
  height: 88px;
  fill: var(--color-focus);
  border: 1px solid var(--color-focus);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  width: 104px;
  height: 56px;
}

/* підвал */
.logo-footer {
  text-decoration: none;
  font-family: "Raleway";
  width: 115px;
  height: 22px;
  left: 156px;
  top: 2380px;
  color: var(--color-footer);
}
.container-footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.position-footer {
}
.logo-text-footer {
  width: 44px;
  height: 22px;
  color: var(--color-logo);
}
.footer-text {
  max-width: 264px;
  font-family: "Roboto";
  margin-top: 16px;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-footer-text);
}

.container-media {
  display: flex;
}

.socials-list-footer {
  justify-content: center;
  display: flex;
  gap: 16px;
}

.socials-item-footer {
  width: 40px;
  height: 40px;
}

.social-link-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
  background-color: var(--color-hover);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}

.footer-subscribe {
  display: flex;
  flex-wrap: wrap;
}

.media {
  font-family: "Roboto";
  line-height: 0.6;
  color: var(--color-footer-text);
  margin-bottom: 16px;
  width: 100%;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.modal-block {
  display: block;
  width: 100%;
}

.email-footer {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 264px;
  height: 40px;
  background-color: transparent;
}

.footer-button {
  background-color: var(--color-logo);
  color: var(--color-fon);
  border-radius: 4px;
  margin-left: 24px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  height: 40px;
  border: 1px solid transparent;
  display: block;
  display: flex;

  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--color-focus);
}

.icon-footer {
  fill: var(--color-fon);
  width: 24px;
  height: 24px;
}

/* Modal */

.backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opasity 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;
  overflow: auto;
  background-color: var(--color-modal);
  width: 100%;
  height: 100%;
  max-width: 408px;
  max-height: 584px;
  transform: scale(1);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  max-width: 24px;
  max-height: 24px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-footer-text);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--color-focus);
  fill: var(--color-fon);
}

.close {
  width: 8px;
  height: 8px;
}

.modal {
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
}

.modal-title {
  color: var(--color-nav);

  font-size: 16px;
  line-height: 1.5;
  width: 360px;
  margin-bottom: 16px;
  text-align: center;
}

.modal-text-contact {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;

  padding-left: 40px;
}

.modal-text-contact:hover,
.modal-text-contact:focus {
  outline: none;
  border: 1px solid #4d5ae5;
}

.modal-flex-icon {
  position: relative;
  margin-bottom: 8px;
}

.modal-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 16px;
  top: 11px;
}

.modal-flex:hover,
.modal-flex:focus {
  fill: var(--color-logo);
}

.modal-block {
  font-weight: 400;
  font-size: 12px;
  line-height: 0.8;
  color: var(--color-modal-text);
  margin-bottom: 4px;
}

.vector::before {
  display: block;
  border: 1px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  content: "";
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 8px;
}

.modal-check:checked + .vector::before {
  background-color: var(--color-focus);
  background-image: url(../images/Vector.svg);
}

.modal-check:focus + .vector::before {
  background-color: var(--color-focus);
  background-image: url(../images/Vector.svg);
}

.modal-block {
  display: flex;
  align-items: center;
}

.comment {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  margin-bottom: 16px;
  padding-left: 16px;
  padding-top: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  color: var(--color-modal-text);
  resize: none;
}

.modal-flex-icon:hover,
.modal-flex-icon:focus {
  fill: var(--color-logo);
}

.modal-icon-vector {
  width: 10px;
  height: 8px;
  fill: var(--color-footer);
}

.modal-button {
  background-color: var(--color-logo);
  color: var(--color-fon);
  width: 169px;
  height: 56px;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0 auto;
  display: block;
  margin-top: 24px;
  border: 1px solid transparent;
}

.modal-button:hover,
.modal-button:focus {
  background-color: var(--color-focus);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Портфоліо */

.portfolio-button {
  white-space: nowrap;
  border-color: var(--color-fon);
  border-radius: 4px;
  padding: 12px 24px;

  background: var(--color-footer);
  color: var(--color-logo);
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.portfolio-button:hover,
.portfolio-button:focus {
  background: var(--color-focus);
  color: var(--color-fon);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-button {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}
.container-portfolio {
  display: flex;
  flex-wrap: wrap;
}
.flex-elements {
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
}
.flex-elements:nth-child(3n) {
  margin-right: 0;
}
.flex-elements:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.container-flex {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
}
.flex-photo {
  display: block;
  text-decoration: none;
  border: 1px solid var(--color-footer-text);
}
.flex-photo:hover,
.flex-photo:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card {
  position: relative;
  overflow: hidden;
}

.media-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-logo);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-text {
  color: var(--color-footer);
  padding: 32px 40px 32px;
}

.flex-photo:hover .media-card,
.flex-photo:focus .media-card {
  transform: translateY(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
